<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <table class="table table-bordered table-striped caption-top mt-4">
          <caption class="text-center">
            <h1>
              List of all visits <span><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-visit-modal"><i class="fa-solid fa-plus"></i></button></span>
            </h1>
          </caption>
          <tr>
            <th>
              ID
            </th>

            <th>
              Date of visit
            </th>

            <th>
              Patient
            </th>

            <th>
              Description
            </th>

            <th>
              Medical specialty
            </th>

            <th>
              Transcription
            </th>

            <th>
              Keywords
            </th>

            <th>
              Doctor
            </th>

            <th>
            </th>
          </tr>

          <% @list_of_visits.each do |a_visit| %>
            <tr>
              <td>
                <%= a_visit.id %>
              </td>

              <td>
                <%= a_visit.date_of_visit %>
              </td>

              <td>
                <%= a_visit.patient.first_name + " " + a_visit.patient.last_name %>
              </td>

              <td>
                <%= a_visit.description %>
              </td>

              <td>
                <%= a_visit.medical_specialty %>
              </td>

              <td>
                <%= a_visit.transcription %>
              </td>

              <td>
                <%= a_visit.keywords %>
              </td>

              <td>
                <%= "Dr. " + a_visit.doctor.first_name + " " + a_visit.doctor.last_name %>
              </td>

              <td>
                <a href="/visits/<%= a_visit.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
        <div class="modal fade" id="new-visit-modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add New Visit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <form class="form container justify-content-center" action="/insert_visit" method="post">
                <div class="row mt-2">
                  <div class="form-group mb-2 col">
                    <label for="doctor_id_box">
                      Doctor
                    </label>

                    <select type="text" id="doctor_id_box" name="query_doctor_id">
                      <% Doctor.all.order(:first_name, :last_name).each do |doctor| %>
                        <option value="<%= doctor.id %>">
                          <%= doctor.first_name + " " + doctor.last_name %>
                        </option>
                      <% end %>
                    </select>
                  </div>

                  <div class="form-group mb-2 col">
                    <label for="patient_id_box">Patient</label>

                    <select type="text" id="patient_id_box" name="query_patient_id">
                      <% Patient.all.order(:first_name, :last_name).each do |patient| %>
                        <option value="<%= patient.id %>">
                          <%= patient.first_name + " " + patient.last_name %>
                        </option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group mb-2 col">
                    <label for="description_box">
                      Description
                    </label>

                    <textarea id="description_box" name="query_description" rows="3"></textarea>
                  </div>

                  <div class="form-group mb-2 col">
                    <label for="keywords_box">
                      Keywords
                    </label>

                    <textarea id="keywords_box" name="query_keywords" rows="3"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group mb-2">
                    <label for="transcription_box">
                      Transcription
                    </label>
                    <br>
                    <textarea id="transcription_box" name="query_transcription" rows="3" cols="50"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group mb-2 col">
                    <label for="medical_specialty_box">
                      Medical specialty
                    </label>

                    <input type="text" id="medical_specialty_box" name="query_medical_specialty">
                  </div>
                  <div class="form-group mb-2 col">
                    <label for="date_of_visit_box">
                      Date of visit
                    </label>

                    <input type="date" id="date_of_visit_box" name="query_date_of_visit">
                  </div>
                </div>

                <button class="btn btn-primary mb-2">
                  Create visit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
