<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <div>
          <h1>
            Patient: <%= @the_patient.first_name + " " + @the_patient.last_name %> details
          </h1>

          <div class="d-flex justify-content-start">
            <div class="col-2">
              <a href="/patients">
                <i class="fa-solid fa-arrow-left"></i>
              </a>
            </div>

            <div>
              <a href="/delete_patient/<%= @the_patient.id %>">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </div>

          <dl class="row">
            <dt class="col-1">
              First name
            </dt>
            <dd class="col-11">
              <%= @the_patient.first_name %>
            </dd>

            <dt class="col-1">
              Last name
            </dt>
            <dd class="col-11">
              <%= @the_patient.last_name %>
            </dd>

            <dt class="col-1">
              Dob
            </dt>
            <dd class="col-11">
              <%= @the_patient.dob %>
            </dd>

            <dt class="col-1">
              Phone number
            </dt>
            <dd class="col-11">
              <%= @the_patient.phone_number %>
            </dd>

            <dt class="col-1">
              Visits count
            </dt>
            <dd class="col-11">
              <%= @the_patient.visits.size %>
            </dd>

            <dt class="col-1">
              Created at
            </dt>
            <dd class="col-11">
              <%= time_ago_in_words(@the_patient.created_at) %> ago
            </dd>

            <dt class="col-1">
              Updated at
            </dt>
            <dd class="col-11">
              <%= time_ago_in_words(@the_patient.updated_at) %> ago
            </dd>
          </dl>
        </div>
      </div>

      <hr>

      <div>
        <div>
          <h2>
            Edit patient
          </h2>

          <form class="form container justify-content-center" action="/modify_patient/<%= @the_patient.id %>"  method="post" >
            <div class="row">
              <div class="form-group mb-2 col-3">
                <label for="first_name_box">
                  First name
                </label>

                <input type="text" id="first_name_box" name="query_first_name">
              </div>

              <div class="form-group mb-2 col-3">
                <label for="last_name_box">
                  Last name
                </label>

                <input type="text" id="last_name_box" name="query_last_name">
              </div>
            </div>
            <div class="row">
              <div class="form-group mb-2 col-3">
                <label for="dob_box">
                  Date of Birth
                </label>

                <input type="date" id="dob_box" name="query_dob">
              </div>

              <div class="form-group mb-2 col-3">
                <label for="phone_number_box">
                  Phone number
                </label>

                <input type="text" id="phone_number_box" name="query_phone_number">
              </div>
            </div>

            <button class="btn btn-primary mb-2">
              Create patient
            </button>
          </form>
        </div>
      </div>

      <hr>
    </div>
  </body>
</html>
