<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <table class="table table-bordered table-striped caption-top mt-4">
          <caption class="text-center">
            <h1>Doctor List <span><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-doctor-modal"><i class="fa-solid fa-user-plus"></i></button></span></h1>
          </caption>
          <tr>
            <th>
              ID
            </th>

            <th>
              First name
            </th>

            <th>
              Last name
            </th>

            <th>
              Visits count
            </th>

            <th>
              Created at
            </th>

            <th>
              Updated at
            </th>

            <th>
            </th>
          </tr>

          <% @list_of_doctors.each do |a_doctor| %>
            <tr style="">
              <td>
                <%= a_doctor.id %>
              </td>

              <td>
                <%= a_doctor.first_name %>
              </td>
              <td>
                <%= a_doctor.last_name %>
              </td>

              <td>
                <%= a_doctor.visits.size %>
              </td>

              <td>
                <%= time_ago_in_words(a_doctor.created_at) %> ago
              </td>
              <td>
                <%= time_ago_in_words(a_doctor.updated_at) %> ago
              </td>

              <td>
                <a href="/doctors/<%= a_doctor.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
        <div class="modal fade" id="new-doctor-modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add New Doctor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <form class="form container justify-content-center" action="/insert_doctor" method="post">
                <div class="row">
                  <div class="form-group mb-2 col">
                    <label for="first_name_box">
                      First name
                    </label>

                    <input type="text" id="first_name_box" name="query_first_name">
                  </div>

                  <div class="form-group mb-2 col">
                    <label for="last_name_box">
                      Last name
                    </label>

                    <input type="text" id="last_name_box" name="query_last_name">
                  </div>
                </div>
                <button class="btn btn-primary mb-2">
                  Create doctor
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
