<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <div class="container text-center">
          <h1>
            Doctor List
          </h1>
        </div>
      </div>

      <hr>

      <div>
        <div>
          <h2>
            Add a new doctor
          </h2>

          <form action="/insert_doctor" method="post">
            <div class="form-group mb-2">
              <label for="first_name_box">
                First name
              </label>

              <input type="text" id="first_name_box" name="query_first_name">
            </div>

            <div class="form-group mb-2">
              <label for="last_name_box">
                Last name
              </label>

              <input type="text" id="last_name_box" name="query_last_name">
            </div>

            <button class="btn btn-primary">
              Create doctor
            </button>
          </form>
        </div>
      </div>

      <hr>
      <div>
        <div>
          <table class="table table-bordered">
            <tr>
              <th>
                ID
              </th>

              <th>
                First name
              </th>

              <th>
                Last name
              </th>

              <th>
                Visits count
              </th>

              <th>
                Created at
              </th>

              <th>
                Updated at
              </th>

              <th>
              </th>
            </tr>

            <% @list_of_doctors.each do |a_doctor| %>
              <tr>
                <td>
                  <%= a_doctor.id %>
                </td>

                <td>
                  <%= a_doctor.first_name %>
                </td>

                <td>
                  <%= a_doctor.last_name %>
                </td>

                <td>
                  <%= a_doctor.visits.size %>
                </td>

                <td>
                  <%= time_ago_in_words(a_doctor.created_at) %> ago
                </td>
                <td>
                  <%= time_ago_in_words(a_doctor.updated_at) %> ago
                </td>

                <td>
                  <a href="/doctors/<%= a_doctor.id %>">
                    Show details
                  </a>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <hr>
    </div>
  </body>
</html>
